<div class="d-flex flex-column detail-description">
  {% if observation.comment %}
    <h3 class="title">Commentaire</h3>
    <div class="content d-flex"><p>{{observation.comment}}</p></div>
  {% endif %}
  <h3 class="title">Caractéristiques observées</h3>
  <div class="content row align-items-start">
    {# <h4 class="subtitle col-5">Où se trouvait l'oiseau</h4>
    <p class=" pl-3 m-0 col-7">: {{observation.bird.birdLocation|default('')}}</p> #}
    <h4 class="subtitle col-5">Taille de l'oiseau</h4>
    <p class=" pl-3 m-0 col-7">: {{observation.bird.birdSize}}</p>
    <h4 class="subtitle col-5">Couleurs principales</h4>
    <p class=" pl-3 m-0 col-7">: {{observation.bird.birdColorsToString}}</p>
    <h4 class="subtitle col-5">Nombre observé</h4>
    <p class=" pl-3 m-0 col-7">: {{observation.bird.birdNumber}}</p>
  </div>
  {% if observation.picture %}
    <h3 class="title mt-4">Clichés sur le vif</h3>
    <div class="card-image">
      <img class="img w-100"
            src="{{ asset( observation.picture.webPath('hd')) }}"
            alt="{{ observation.picture.alt }}">
    </div>
  {% endif %}

  {% if route == 'observation_show' %}
    <a class="btn btn-primary mt-5 mb-5 text-truncate" href="{{ path('taxref_show', {slug: taxref.slug}) }}" role="button">
      Toutes les observations de cet oiseau
    </a>
  {% endif %}
  {% if route == 'admin_observation_show' %}
  <a class="btn btn-primary mt-5 d-flex align-items-start justify-content-center" href="{{ path('admin_home') }}" role="button">
      <svg class="nav-icons" style="height:20px;" >
          <use xlink:href="{{ asset('images/icons/sprite.svg#home')}}">
      </svg>
      Retourner à l'accueil
    </a>
    <a class="btn btn-secondary text-truncate d-flex align-items-center justify-content-center" href="{{ path('admin_observation_new') }}" role="button">
      <i class="material-icons">add</i>
      Ajouter une nouvelle Obs.
    </a>
    {{ include('admin/observation/_delete_form.html.twig', {observation: observation}, with_context = false) }}
  {% endif %}
</div>