<div class="card card-blog">
  {% if post.picture and post.picture.url  %}
  {% set backgroundTable = '' %}
  {% set btnColor = 'btn-secondary' %}
    <div class="card-image">
      <a href="{{ path('taxref_show', {slug: post.slug}) }}"> <img class="img" src="{{ post.picture.url }}" alt="{{ post.picture.alt }}"> </a>
    </div>
  {% else %}
    {% set backgroundTable = random(['table-info', 'table-danger','','','','','']) %}
    {% if backgroundTable == '' %}
      {% set btnColor = 'btn-secondary' %}
    {% else %}
      {% set btnColor = 'btn-white' %}
    {% endif %}
  {% endif %}
  <div class="table {{ backgroundTable }}">
    <h6 class="category text-secondary">{{ post.lbAuteurType|trim('()') }}</h6>
    <h4 class="card-caption">
      <a href="{{ path('taxref_show', {slug: post.slug}) }}">{{ post.lbNomType }}</a>
    </h4>
    <div class="card-description">{{ post.nomVernType }}</div>
    <div class="ftr text-center">
      {% if include_id_btn|default(false) %}
        <a href="{{ path('admin_observation_new_step_4', {id: post.id|round}) }}" class="btn {{ btnColor }} btn-round">c'est mon oiseau</a>
      {% endif %}
      <a href="{{ path('taxref_show', {slug: post.slug}) }}" class="btn {{ btnColor }}">Détails</a>
    </div>
  </div>
</div>