{% extends "default/layout.html.twig" %}

{% block left %}
    <h1 class="text-white display-3">Login</h1>
    <p class="text-primary lead">Connectez vous</p>
 {% endblock %}

{% block right %}
  {% if error %}
        <div class="alert alert-danger">
          {{ error.message | replace({"Bad credentials." : "Nom d'utilisateur/Mot de passe invalide."}) }}
        </div>
  {% endif %}
      {% for message in app.flashes('flashError') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
      {% endfor %}

      <div class="d-flex flex-wrap justify-content-md-between pr-md-5 mr-md-5 pr-xs-0 mr-xs-0 ">
        <a class="btn btn-facebook" href="{{ flink|raw}}">
          {# <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3" >
            <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
          </svg> #}
          <i class="fa fa-facebook-f mr-3"></i>
        S'identifier avec Facebook </a>

          <a class="btn btn-google" href="{{glink}}">
            {# <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3" >
              <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
            </svg> #}
            <i class="fa fa-google mr-3"></i>
             S'identifier avec Google
          </a>

      </div>
      <div class="form ">
          <form  action="{{ path('login_check') }}" method="post">
            <div class="form-group">
              <label for="username">Utilisateur :</label>
              <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
              <br/>
              <label for="password">Mot de passe :</label>
              <input class="form-control" type="password" id="password" name="_password" />
                <small><a class="pull-right" href="{{ path('lostPassword') }}">Mot de passe oublié ?</a></small>

              <br />
              <input class="btn btn-primary" type="submit" value="Connexion" />
            </div>
          </form>
          <p>
            <a href="{{ path('signUp') }}">Pas de compte ? CREER UN COMPTE</a>
          </p>
      </div>
 {% endblock %}