{% extends "default/layout.html.twig" %}

{% block left %}
  <h1 class="text-white display-3">{{message[0]}}</h1>
  <p class="text-primary lead">{{message[1]}}</p>
{% endblock %}

{% block right %}

  <div class="mt-5">
      <div class="form">

      {% for message in app.flashes('flashError') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
      {% endfor %}
      {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
      {{ form_end(form) }}
    </div>
  </div>
      
{% endblock %}