{% extends "default/layout.html.twig" %}

{% block left %}
  <h1 class="text-white display-3">{{message[0]}}</h1>
  <p class="text-primary lead">{{message[1]}}</p>
{% endblock %}

{% block right %}

          <div class="form">
          {% for message in app.flashes('flashError') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
          {% endfor %}

          <!-- <div class="d-flex flex-wrap justify-content-md-between pr-md-5 mr-md-5 pr-xs-0 mr-xs-0">
            <a class="btn btn-info" href="{{facebookRegister|raw }}">
              <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3" >
                <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
              </svg>
              S'inscrire avec Facebook
            </a>

            <a class="btn btn-danger" href="{{googleRegister}}">
              <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3" >
                <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
              </svg>
              S'inscrire avec Google
            </a>
          </div> -->
          <div class="d-flex flex-wrap justify-content-md-between ">
            <a class="btn btn-facebook mr-md-2" href="{{facebookRegister|raw }}">
              <i class="fa fa-facebook-f mr-3"></i>
              S'inscrire avec Facebook
            </a>
            <a class="btn btn-google ml-md-2" href="{{googleRegister}}">
              <i class="fa fa-google mr-3"></i>
                S'inscrire avec Google
            </a>
          </div>
          {{ form_start(form) }}
          {{ form_row(form.mail) }}
          {{ form_row(form.username) }}
          {{ form_row(form.plainPassword) }}

          <div>
              {{ form_label(form.acceptTerms) }}
              {{ form_errors(form.acceptTerms) }}
              {{ form_widget(form.acceptTerms) }}
          </div>
          <a class="btn btn-link" href="{{ path('conditionsGenerales')}}">
                Conditions d'utilisations
              </a>

          {{ form_rest(form)}}

          <button type="submit" class="btn btn-primary mb-5">S'inscrire</button>
        {{ form_end(form) }}
      </div>



{% endblock %}