{% extends "base.html.twig" %}

{% block title %}Ornidex - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}


{% block mainLeft %}
  <div id="main-left" class="col-lg-4 col-xl-3">
    <div class="d-flex">
      <div class="container mt-auto mb-auto">
          <h1 class="text-white display-3">Ornidex</h1>
          {% if route == 'taxref_search' %}
            <p class="text-primary lead">Résultat de la recherche</p>
            <div>
                <a class="btn btn-link" href="{{ path('taxref_index') }}">
                    <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3">
                        <use xlink:href="/images/icons/sprite.svg#dove">
                    </use></svg>Consulter tout L'ornidex
                </a>
            </div>
          {% else %}
            <p class="text-primary lead">Le référentiel taxonomique taxref</p>
          {% endif %}
        </div>
    </div>
  </div>
{% endblock %}

{% block mainRight %}
  <div id="main-right" class="col-lg-8 col-xl-9 mt-3">
    <div class="container">
      <div id="listingTaxref" class="result row pt-4">
        {% if posts %}
          {% for post in posts %}
          {{ include('components/cards/taxref.html.twig') }}
          {% endfor %}
          {% else %}
          <p class='pt-5 m-0 text-center text-secondary w-100 display-4'>Aucun résultat pour cette recherche</p>
          <p class='pt-5 m-0 text-center text-secondary w-100'>
            <a class="btn btn-link" href="{{ path('taxref_index') }}">
              <svg height="60px" width="60px" style="vertical-align: middle;" class="mr-3">
                <use xlink:href="/images/icons/sprite.svg#dove"></use>
              </svg>
            </a>
          </p>
          {% endif %}
        </div>
        {{ include('components/buttons/moreResults.html.twig') }}
    </div>
  </div>
{% endblock %}

