<tr>
  <th scope="row">
    <i class="fa fa-circle fa-fw
      {% if obs.status == 1 %} text-primary
      {% elseif obs.status == 0 %} text-warning
      {% else %}text-danger
      {% endif %} ">
    </i>
    {{ obs.id }}
  </th>
  {% set col_address = obs.location.formatedAddress|trim|split(' ')%}
  <td>{% for row in col_address %}{{ row }}<br>{% endfor %}</td>
  <td> {{ obs.getAgo(obs.dateObs|date()) }} </td>
  {% set col_taxref = obs.bird.taxref.lbNomType|trim|split(' ',2)%}
  <td>{% for row in col_taxref %}{{ row }}<br>{% endfor %}</td>
  <td>
    {% set col_status = obs.statusDefinition(obs.status)|split(',') %}
    {% if route == 'admin_home' %}
      {% for i_status,row in col_status if i_status == 0 %}{{ row }}{% endfor %}
    {% else %}
      {% for row in col_status %}{{ row }}<br>{% endfor %}
    {% endif %}
  </td>
  <td class="text-right">
    <a class="" href="{{ path('admin_observation_show',{ id: obs.id }) }}">
      <i class="fa fa-eye"></i>
    </a>
    {% if obs.status != 1 %}
      <a class="" href="{{ path('admin_observation_edit',{ id: obs.id }) }}">
        <i class="fa fa-pencil"></i>
      </a>
    {% endif %}
      {{ include('admin/observation/_delete_form.html.twig', {observation: obs}, with_context = false) }}
  </td>
</tr>