<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark p-0">
    <a class="navbar-brand" href="{{ path('home') }}">
        <svg class="logo" height="51" width="75" ><use xlink:href="{{ asset('images/icons/sprite.svg#logo')}}"></svg>
    </a>
    <form id="search-form" class="form-inline mt-2 mt-md-0 mr-md-auto navbar-search" action="{{ path('taxref_search') }}">
      <button class="btn btn-link my-2 my-sm-0 p-2" type="submit">
        <i class="material-icons">search</i>
      </button>
      <input  class="form-control mr-sm-2 nav-search search-field p-2"
              type="text"
              placeholder="Rechercher"
              aria-label="Search"
              name="q"
              autocomplete="off"
              autofocus
              data-no-results-message="<p class='pt-5 m-0 text-center text-white w-100'>Aucun résultat pour cette recherche</p>"
              
      >
    </form>

    <li class="navbarMobile dropdown show mr-3 nav-item d-flex">
        <a class="" href="#" role="button" id="dropdownMenuLinkMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-mobile dropdown-options" aria-labelledby="dropdownMenuLinkMobile" >
          {% if is_granted('ROLE_USER') %}
            <a href="{{ path('admin_observation_index') }}" class="dropdown-item">
                <svg height="21px" width="21px" style="vertical-align: middle;margin-right: -4px;" >
                    <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
                </svg>
                Mes observations
            </a>
            <a href="{{ path('edit_profil') }}" class="dropdown-item">
              <i class="fa fa-user fa-fw"></i>Mon profil</a>
            <a href="{{ path('logout') }}" class="text-danger dropdown-item">
              <i class="fa fa-sign-out fa-fw"></i>Déconnection
            </a>
          {% endif %}
          {% if not is_granted('ROLE_USER') %}
              <a class="dropdown-item" href="{{ path('login') }}">
                <i class="fa fa-sign-in fa-fw"></i>Connection
              </a>
          {% endif %}
        </div>
    </li>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      {% if is_granted('ROLE_USER') %}
        <div class="user-action dropdown show ml-auto">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media">
                <div class="media-left">
                  {% if app.user.picture.url|length > 6 %}
                    <img src="{{ app.user.picture.url }}" alt="user" class="mCS_img_loaded">
                  {% else %}
                    <img src="{{ asset( app.user.picture.webPath('thumbnails')) }}" alt="user" class="mCS_img_loaded">
                  {% endif %}
                </div>
                <div class="media-body">
                  <p class="name">{{ app.user.name }} {{ app.user.surname }} <i class="material-icons">keyboard_arrow_down</i></p>
                  <p class="account-name">{{ app.user.function }}</p>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-options" aria-labelledby="dropdownMenuLink" >
              <a href="{{ path('admin_observation_index') }}" class="dropdown-item">
                  <svg height="21px" width="21px" style="vertical-align: middle;margin-right: -4px;" >
                      <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
                  </svg>
                  Mes observations</a>
              <a href="{{ path('edit_profil') }}" class="dropdown-item">
                <i class="fa fa-user fa-fw"></i>Mon profil</a>
              <a href="{{ path('logout') }}" class="text-danger dropdown-item">
                <i class="fa fa-sign-out fa-fw"></i>Déconnection</a>
            </div>
        </div>
      {% endif %}
      <ul class="navbar-nav p-0 m-0 {% if not is_granted('ROLE_USER') %} ml-auto {% endif %}">
        {# <li class="nav-item active">
          <a class="nav-link" href="#"><i class="material-icons">keyboard_arrow_left</i><span class="sr-only">(current)</span></a>
        </li> #}
        <div class="notificationAreaNav">
        {% if is_granted('ROLE_USER') %}
          {% include('partials/notificationAreaNav.html.twig') %}
        {% endif %}
        </div>

        <!-- <li class="nav-item">
          <a class="nav-link active d-flex flex-column justify-content-center" href="{{ path('admin_observation_new') }}">
            <i  class="fa fa-plus text-white position-absolute align-self-center"
                style="font-size:11px;margin-left:-3px;margin-top:3px;">
            </i>
            <svg class="nav-icons"  >
                <use xlink:href="{{ asset('images/icons/sprite.svg#dove')}}">
            </svg>
          </a>
        </li> -->
        {% if not is_granted('ROLE_USER') %}
          <li data-toggle="tooltip" data-placement="bottom" title="Se connecter" data-delay="600" class="nav-item">
            <a class="nav-link {% if route == 'login' %} active {% endif %}" href="{{ path('login') }}"><i class="material-icons">input</i></a>
          </li>
        {% endif %}

      </ul>
    </div>
  </nav>
</header>