{% set notificNumber = 0 %}
      {% for notification in app.session.get('notificationUser') if notification.seen == 0 %}
      {% set notificNumber = notificNumber + 1 %}
    {% endfor %}

    <li class="navbarMobile dropdown show mr-3 nav-item d-flex">
        {% if notificNumber > 0 %}
           <a class="" href="#" role="button" id="dropdownMenuLinkMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i style="color: red;" class="fa fa-ellipsis-v"></i>
        {% else %}
          <a class="" href="#" role="button" id="dropdownMenuLinkMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
          </a>
        {% endif %}
        <div class="dropdown-menu dropdown-menu-right dropdown-mobile dropdown-options" aria-labelledby="dropdownMenuLinkMobile" >
          {% if is_granted('ROLE_USER') %}
            <a href="{{ path('admin_observation_index') }}" class="dropdown-item">
                <svg height="21px" width="21px" style="vertical-align: middle;margin-right: -4px;" >
                    <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
                </svg>
                Mes observations
            </a>
            <a href="{{ path('edit_profil') }}" class="dropdown-item">
              <i class="fa fa-user fa-fw"></i>Mon profil</a>
            <a href="{{ path('admin_user_notifications')}}" class="dropdown-item"> 
              <i class="material-icons drop-notif-icon">notifications</i>Notifications
              {% if notificNumber > 0 %}<span class="text-danger pull-right">{{notificNumber}}</span>{% endif %}
            </a>

            <a href="{{ path('logout') }}" class="text-danger dropdown-item">
              <i class="fa fa-sign-out fa-fw"></i>Déconnection
            </a>

          {% endif %}
          {% if not is_granted('ROLE_USER') %}
              <a class="dropdown-item" href="{{ path('login') }}">
                <i class="fa fa-sign-in fa-fw"></i>Connection
              </a>
          {% endif %}
        </div>
    </li>