{% extends "admin/espacePerso/layout.html.twig" %}


{% block left %}
  	<h2 class="text-white display-4">Mon profil</h2>
    <p class="text-primary lead">Editez vos informations personnelles</p>

{% endblock %}


{% block right %}
	 <ul class="nav" id="myTab" >

            <li class="nav-item col p-0">
            		{% if app.user.picture.url|length > 6 %}
            	<img class="pull-right" height="auto" width="100px" src="{{ app.user.picture.url }}">
	                {% else %}
		    			<img class="pull-right" height="auto" width="100px" src="{{ asset( app.user.picture.webPath('thumbnails')) }}">
	                {% endif %}
                <div class="jumbotron">
                    <h2 class="title">Mes informations</h2>
                </div>
            </li>
        </ul>

        <div class="table-responsive">
	 	<table class="table table-striped table-light ">
	 		{{ form_start(form)}}
	 		<tr class="invisible">
	 			<td>table</td>
	 			<td>{{ form_widget(form.picture.alt,{ 'value': 'image de profil','attr': {'class': 'invisible'} }) }}</td>
	 		</tr>
	    	<tr>
	    		<td class="">
	    			<h4>Photo de profil</h4>
	    		</td>
	    		<td class="">
		    		<div class="d-none form_picture_class">
						{{ form_widget(form.picture.file)}}
					</div>
				</td>
				<td>

	            </td>
	    		<td class="text-primary form_picture_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Adresse email</h4></td>
	    		<td>
		    		<div class="d-none form_email_class">
						{{ form_widget(form.mail) }}
					</div>
				</td>
	    		<td>{{app.user.getMail()}}</td>
	    		<td class="text-primary form_email_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Mot de passe</h4></td>
	    		<td>
		    		<div class="d-none form_password_class">
		    			{{ form_widget(form.currentPassword,{ 'attr': {'placeholder': 'Entrez votre mot de passe actuel'} }) }}<br/>
						{{ form_widget(form.resetPassword.plainPassword.first,{ 'attr': {'placeholder': 'Entrez le nouveu mot de passe'} }) }}<br/>
						{{ form_widget(form.resetPassword.plainPassword.second,{ 'attr': {'placeholder': 'Repetez le mot de passe'} }) }}

					</div>
	    		</td>
	    		<td></td>
	    		<td class="text-primary form_password_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Nom</h4></td>
	    		<td>
		    		<div class=" d-none form_name_class">
						{{ form_widget(form.name) }}
					</div>
	    		</td>
	    		<td>{{app.user.getName()}}</td>
	    		<td class="text-primary form_name_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Prenom</h4></td>
	    		<td>
		    		<div class="d-none form_surname_class">
						{{ form_widget(form.surname)}}

					</div>
	    		</td>
	    		<td>{{app.user.getSurname()}}</td>
	    		<td class="text-primary form_surname_button">éditer</td>
	    	</tr>
    	</table>

		<input type="submit" name="Editer" class="btn btn-warning">

				{{ form_rest(form)}}
  				{{ form_end(form) }}
        </div>
{% endblock %}

{% block java_per_pages %}
	<script src="{{asset('build/js/user-infos.js')}}"></script>
{% endblock %}