{% extends "admin/espacePerso/layout.html.twig" %}


{% block left %}
    <h2 class="text-light display-4">Espace personnel</h2>
    <p class="text-primary lead">Fonctionnalités clés</p>
    
        <div>
            <a class="btn btn-link" href="{{path('admin_observation_index')}}">
                <svg height="24px" width="24px" style="vertical-align: middle;" class="mr-3" >
                    <use xlink:href="{{ asset('images/icons/sprite.svg#obs')}}">
                </svg>Voir mes Observations
            </a>
        </div>
        <div><a class="btn btn-link" href="{{path('admin_observation_new')}}">
                <i class="fa fa-plus fa-fw mr-3"></i>Ajouter une observation
            </a>
        </div>
        <div>
            <a class="btn btn-link" href="{{path('edit_profil')}}">
                <i class="fa fa-user fa-fw mr-3"></i>Editer mon profil
            </a>
        </div>
        
{% endblock %}


{% block right %}
<ul class="nav justify-content-center w-100" id="myTab" role="tablist" >
            {# Commons #}
            <li class="nav-item col p-0">
                <a class="nav-link active" id="last-tab" data-toggle="tab" href="#lastObs" role="tab" aria-controls="lastObs" aria-selected="true">
                <div class="jumbotron">
                    <h2 class="title">Mes dernières observations</h2>
                    <p class="lead">{{userObservations|length}}</p>
                </div>
                </a>
            </li>
            {# Only Naluralist #}
            {% if is_granted('ROLE_NATURALIST') %}
                <li class="nav-item col pr-0">
                    <a class="nav-link" id="toCheck-tab" data-toggle="tab" href="#toCheckObs" role="tab" aria-controls="toCheckObs" aria-selected="false">
                    <div class="jumbotron">
                        <h2 class="title">Les observations à vérifier</h2>
                        <p class="lead">{{obsToValid|length}}</p>
                    </div>
                    </a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content pt-5">
            <!-- Les 5 dernières observations de l'utilisateur -->
            {{ include('components/tables/observation/default.html.twig', {
                observations: userObservations,
                id:  'last',
                title: 'Mes dernières observations',
                active: true,
            }) }}
            {% if is_granted('ROLE_NATURALIST')%}
                <!-- Les 5 dernières observations à valider -->
                {{ include('components/tables/observation/toCheck.html.twig', {
                    observations: obsToValid,
                    id:  'toCheck',
                    title: 'Les dernières observations à vérifier'
                }) }}
            {% endif %}
        </div>
{% endblock %}