<div class="tab-pane fade {% if type == 'all' %}show active{% endif %}" id="{{ type }}Obs" role="tabpanel" aria-labelledby="{{ type }}-tab">
    <div class="row observation">
      <div class="col">
        <h6 class="title">{{ title }} (affichage 1 à 6 de 6 enregistrements)</h6>
      </div>
      <div class="col-auto">
        <a href="{{ path('admin_observation_new') }}" class="text-white btn btn-primary btn-round mt-0">
          <i class="fa fa-plus"></i>
          Ajouter
        </a>
      </div>
    </div>
    <table class="table table-striped table-light mt-3">
      <thead>
        <tr>
          <th scope="col">Obs ID</th>
          {% for col in cols %}
            <th scope="col">{{col}}</th>
          {% endfor %}
          <th scope="col-action"></th>
        </tr>
      </thead>
      <tbody>
        {% if type == 'all' or type == 'check' %}
          {% for post in posts  %}
            <tr>
              <th scope="row">{{ post.id }}</th>
              <td>{{post.location.address}}</td>
              {% if type == 'check' %}
                <td> {{ post.bird.taxref.nomValideType|default('') }} </td>
                <td> {{ post.user.name|default('') }} {{ post.user.surname|default('') }} </td>
                <td>
                  <i class="fa fa-enveloppe-o fa-fw "></i>{{ post.user.mail|default('') }}
                </td>
                <td class="text-right text-right d-inline-flex justify-content-between">
                  <a class="p-2" href="{{ path('home') }}"><i class="fa fa-eye"></i></a>
                  {{ include('admin/observation/_check_form.html.twig', {observation: post}, with_context = false) }}
                </td>
              {% else %}
                <td> {{ post.ago(post.dateObs|date()) }} </td>
                <td> {{ post.bird.taxref.nomValideType }} </td>
                <td>
                  <i class="fa fa-circle fa-fw {% if post.status == 1 %} text-primary{% else %}text-warning{% endif %} "></i>{{ post.statusDefinition(post.status) }}
                </td>
                <td class="text-right text-right d-inline-flex justify-content-between">
                  <a class="p-2" href="{{ path('admin_observation_show',{ id: post.id }) }}">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a class="p-2" href="{{ path('admin_observation_edit',{ id: post.id }) }}">
                    <i class="fa fa-pencil"></i>
                  </a>
                  {{ include('admin/observation/_delete_form.html.twig', {observation: post}, with_context = false) }}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          {% if type == 'valid' %}
            {% for post in posts if post.status == 1  %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{post.location.address}}</td>
                  <td> {{ post.ago(post.dateObs|date()) }} </td>
                  <td> {{ post.bird.taxref.nomValideType }} </td>
                  <td>
                    <i class="fa fa-circle fa-fw {% if post.status == 1 %} text-primary{% else %}text-warning{% endif %} "></i>{{ post.statusDefinition(post.status) }}
                  </td>
                  <td class="text-right text-right d-inline-flex justify-content-between">
                    <a class="p-2" href="{{ path('admin_observation_show',{ id: post.id }) }}">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a class="p-2" href="{{ path('admin_observation_edit',{ id: post.id }) }}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    {{ include('admin/observation/_delete_form.html.twig', {observation: post}, with_context = false) }}
                  </td>
              </tr>
            {% endfor %}
          {% else %}
            {% for post in posts if post.status == 0  %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{post.location.address}}</td>
                  <td> {{ post.ago(post.dateObs|date()) }} </td>
                  <td> {{ post.bird.taxref.nomValideType }} </td>
                  <td>
                    <i class="fa fa-circle fa-fw {% if post.status == 1 %} text-primary{% else %}text-warning{% endif %} "></i>{{ post.statusDefinition(post.status) }}
                  </td>
                  <td class="text-right text-right d-inline-flex justify-content-between">
                    <a class="p-2" href="{{ path('admin_observation_show',{ id: post.id }) }}">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a class="p-2" href="{{ path('admin_observation_edit',{ id: post.id }) }}">
                      <i class="fa fa-pencil"></i>
                    </a>
                    {{ include('admin/observation/_delete_form.html.twig', {observation: post}, with_context = false) }}
                  </td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endif %}
      </tbody>
    </table>
  </div>