{% extends "base.html.twig" %}

{% block title %}Contact - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block mainLeft %}
<div id="main-left" class="col-lg-4 col-xl-3">
    <div class="d-flex">
        <div class="container mt-auto mb-auto">
            <h1 class="text-white display-3">Contact</h1>
            <p class="text-primary lead">écrivez nous</p>
        </div>
    </div>
</div>
{% endblock %}

{% block mainRight %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div id="main-right" class="  col-sm-6 col-xl-5 offset-sm-3 offset-lg-3 offset-xl-2 mt-1">
        	<div class="form">
        		{{ form_start(form) }}
                {{ form_errors(form.mail) }}
                {{ form_errors(form.username) }}
                {{ form_errors(form.message) }}
                {% if is_granted('ROLE_USER')%}
                    {{ form_widget(form.mail,{
                        'value': app.User.getMail(),
                         'attr' :{'class': 'invisible'}
                     })}}
                    {{ form_widget(form.username,{
                        'value': app.User.getUsername(),
                        'attr' :{'class': 'invisible'}
                    })}}
                {% else %}
                    {{ form_label(form.mail)}}
                    {{ form_widget(form.mail)}}
                    {{ form_label(form.username)}}
                    {{ form_widget(form.username)}}
                {% endif %}
                {{ form_label(form.message)}}
				{{ form_widget(form.message)}}
				<button type="submit" class="btn btn-primary">Contacter</button>
                {{ form_rest(form)}}
				{{ form_end(form) }}
    		</div>
	</div>
{% endblock %}
