{% extends "default/layout.html.twig" %}

{% block left %}
    <h1 class="text-white display-3">Contact</h1>
    <p class="text-primary lead">Une question ? Sortez vôtre plume</p>
{% endblock %}


{% block right %}
    <div class="form ">
        {{ form_start(form) }}
        {{ form_errors(form.mail) }}
        {{ form_errors(form.username) }}
        {{ form_errors(form.message) }}
        {% if is_granted('ROLE_USER')%}
            {{ form_widget(form.mail,{
                'value': app.User.getMail(),
                 'attr' :{'class': 'invisible'}
             })}}
            {{ form_widget(form.username,{
                'value': app.User.getUsername(),
                'attr' :{'class': 'invisible'}
            })}}
        {% else %}
            {{ form_label(form.mail)}}
            {{ form_widget(form.mail)}}
            {{ form_label(form.username)}}
            {{ form_widget(form.username)}}
        {% endif %}
        {{ form_label(form.message)}}
        {{ form_widget(form.message)}}
        <button type="submit" class="btn btn-primary mb-5">Envoyer</button>
        {{ form_rest(form)}}
        {{ form_end(form) }}
    </div>
{% endblock %}