{% extends "base.html.twig" %}

{% block title %}Contact - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/moment/moment.min.js')}}"></script>
    <script src="{{ asset('lib/moment/locales.min.js')}}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}


{% block stylesheets %}{% endblock %}

{% block mainLeft %}
<div id="main-left" class="col-lg-4 col-xl-3">
    <div class="d-flex">
        <div class="container mt-auto mb-auto">
            {% block left %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block mainRight %}
{% if is_granted('ROLE_USER') %}
    <div id="main-right" class="mt-lg-0 mt-xl-5 pt-xl-4 col-xl-6 offset-lg-5 offset-xl-2  justify-content-center text-white">
{% else %}
    <div id="main-right" class="mt-5 pt-xl-5 col-xl-6 offset-lg-5 offset-xl-2  justify-content-center text-white">
{% endif %}
        {% block right %}{% endblock %}
	</div>
{% endblock %}

