{% extends "base.html.twig" %}

{% block title %}Espace Personnel - {{parent()}}{% endblock %}

{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}


{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/moment/moment.min.js')}}"></script>
    <script src="{{ asset('lib/moment/locales.min.js')}}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}


{% block mainLeft %}
<div class='row no-gutters '>
    <div class="d-flex justify-content-around mt-0 mt-md-5 flex-wrap">
    <div class="mt-lg-5 mt-0 col-lg-3 col-xl-3 ">
        <div class="row no-gutters">
            <h2 class="text-white display-4">Mon profil</h2>
            <p class="text-primary lead">Editez vos informations personnelles</p>
        </div>
    </div>
    <div class='mt-5 mt-md-0 col-lg-7 col-xl-7 observation-preview'>
        <ul class="nav justify-content-center w-100" id="myTab" role="tablist" >
            {# Commons #}
            <li class="nav-item col p-0">
            	<img class="pull-right" height="auto" width="100px" src="{{ app.user.picture.url }}">
                <div class="jumbotron">
                    <h2 class="title">Vos informations</h2>
                </div>
            </li>
        </ul>
        <div class="tab-content">

	 	<table class="table table-striped table-light ">
	 		<tr class="invisible">
	 			<td>table</td>
	 			<td>{{ form_widget(form.picture.alt,{ 'value': 'image de profil','attr': {'class': 'invisible'} }) }}</td>
	 		</tr>
	    	<tr>
	    		<td class="list-group-item">
	    			<h4>Photo de profil</h4>
	    		</td>
	    		<td >
	    		<div class="d-none form_picture_class">

					{{ form_widget(form.picture.file)}}

				</div>
				</td>
				{% if app.user.picture.url|length > 6 %}
	    			<td class=""></td>
                {% else %}
	    			<td class=""><img height="auto" width="150px" src="{{ asset( app.user.picture.webPath('thumbnails')) }}"></td>
                {% endif %}
	    		<td class="text-primary form_picture_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Adresse email</h4></td>
	    		<td>
	    		<div class="d-none form_email_class">
					{{ form_widget(form.mail) }}

				</div>
				</td>
	    		<td>{{app.user.getMail()}}</td>
	    		<td class="text-primary form_email_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Mot de passe</h4></td>
	    		<td>
	    		<div class="d-none form_password_class">
	    			{{ form_widget(form.currentPassword,{ 'attr': {'placeholder': 'Entrez votre mot de passe actuel'} }) }}<br/>
					{{ form_widget(form.resetPassword.plainPassword.first,{ 'attr': {'placeholder': 'Entrez le nouveu mot de passe'} }) }}<br/>
					{{ form_widget(form.resetPassword.plainPassword.second,{ 'attr': {'placeholder': 'Repetez le mot de passe'} }) }}

				</div>
	    		</td>
	    		<td></td>
	    		<td class="text-primary form_password_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Nom</h4></td>
	    		<td>
	    		<div class=" d-none form_name_class">
					{{ form_widget(form.name) }}
				</div>
	    		</td>
	    		<td>{{app.user.getName()}}</td>
	    		<td class="text-primary form_name_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h4>Prenom</h4></td>
	    		<td>
	    		<div class="d-none form_surname_class">
					{{ form_widget(form.surname)}}

				</div>
	    		</td>
	    		<td>{{app.user.getSurname()}}</td>
	    		<td class="text-primary form_surname_button">éditer</td>
	    	</tr>
    	</table>
		<button type="submit" class="btn btn-warning">Editer</button>
				{{ form_rest(form)}}
  				{{ form_end(form) }}

        </div>
    </div>
    </div>

</div>


{% endblock %}

{% block java_per_pages %}
	<script src="{{asset('build/js/user-infos.js')}}"></script>
{% endblock %}
