{% extends "base.html.twig" %}

{% block title%}NAO - Editer mon profil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block mainLeft %}

<div class='row no-gutters'>
    <div class="d-flex justify-content-around align-items-md-center flex-wrap">
    <div class=" col-lg-4 col-xl-4 h-50">
        <div class="row no-gutters"> 
            <h2 class="text-white display-4">Mon profil</h2>
            <p class="text-primary lead">Editez vos informations personnelles</p> 
            <div class="col-sm-12">
               
            </div>  
        </div>        
    </div>
    
    <div class=' col-lg-8 col-xl-8  mt-5 text-muted'>
				{{ form_start(form) }}
					{% for label, messages in app.flashes %}
	    				{% for message in messages %}
	        				<div class="flash-{{ label }}">
	            				{{ message }}
	        				</div>
	    				{% endfor %}
					{% endfor %}
				
				<h4 class="text-warning">
					{{ form_errors(form.file)}}
					{{ form_errors(form.currentPassword)}}
					{{ form_errors(form.resetPassword.plainPassword.first)}}
				</h4>	
				
    	<h2 class="text-warning d-block">Vos informations</h2><br/>
    	<table class="table border infoTable table-striped table-light mt-3">
	    	<tr>
	    		<td><h3>Photo de profil</h3></td>
	    		<td >
	    		<div class="invisible form_picture_class">
	    			
					{{ form_widget(form.file) }}
					{{ form_widget(form.alt,{ 'value': 'image de profil','attr': {'class': 'invisible'} }) }}
				</div>
				</td>
	    		<td class=""><img height="100px"src="{{ app.user.getPicture().getUrl()}}"></td>
	    		<td class="text-primary form_picture_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h3>Adresse mail</h3></td>
	    		<td>
	    		<div class="invisible form_email_class">
					{{ form_widget(form.mail) }}

				</div>
				</td>
	    		<td>{{app.user.getMail()}}</td>
	    		<td class="text-primary form_email_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h3>Mot de passe</h3></td>
	    		<td>
	    		<div class="invisible form_password_class">
	    			{{ form_widget(form.currentPassword,{ 'attr': {'placeholder': 'Entrez votre mot de passe actuel'} }) }}<br/>
					{{ form_widget(form.resetPassword.plainPassword.first,{ 'attr': {'placeholder': 'Entrez le nouveu mot de passe'} }) }}<br/>
					{{ form_widget(form.resetPassword.plainPassword.second,{ 'attr': {'placeholder': 'Repetez le mot de passe'} }) }}
				
				</div>
	    		</td>
	    		<td></td>
	    		<td class="text-primary form_password_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h3>Nom</h3></td>
	    		<td>
	    		<div class="invisible d-none form_name_class">
					{{ form_widget(form.name) }}
				</div>
	    		</td>
	    		<td>{{app.user.getName()}}</td>
	    		<td class="text-primary form_name_button">éditer</td>
	    	</tr>
	    	<tr>
	    		<td><h3>prenom</h3></td>
	    		<td>
	    		<div class="invisible d-none form_surname_class">
					{{ form_widget(form.surname)}}
					
				</div>
	    		</td>
	    		<td>{{app.user.getSurname()}}</td>
	    		<td class="text-primary form_surname_button">éditer</td>
	    	</tr>
    	</table>
		<button type="submit" class="btn btn-warning">Editer</button>
				{{ form_rest(form)}}
  				{{ form_end(form) }}
       
    </div>
    </div>

</div>

{% endblock %}

{% block java_per_pages %}
	<script src="{{asset('build/js/user-infos.js')}}"></script>
{% endblock %}