{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">{% endblock %}
{% block title %}Administration{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/moment/moment.min.js')}}"></script>
    <script src="{{ asset('lib/moment/locales.min.js')}}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}

{% block body %}
{{ include('default/_flash_messages.html.twig') }}
<div class="row main-row p-lg-5">
  <div class="container">
    {% block main_header %}{% endblock %}
  </div>
  <div class="container m-lg-5 p-lg-5">
    {% block main_content %}{% endblock %}
  </div>
</div>
{% endblock %}