{% extends "base.html.twig" %}

{% block title %}Espace Personnel - {{parent()}}{% endblock %}

{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}


{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">{% endblock %}


{% block mainLeft %}

    <div class="mt-lg-5 pt-lg-5 mt-0 ml-0 ml-sm-5 col-lg-3 col-xl-3 ">
        
            <h2 class="text-white display-4 text-wrap">Mes notifications</h2>
            <p class="text-primary lead">L'historique des activités concernant vos observations</p>
           
    </div>
      <div class='mt-5 offset-1 col-lg-7 col-xl-7 observation-preview'>
        <ul class="nav justify-content-center w-100" id="myTab" role="tablist" >
            {# Commons #}
            <li class="nav-item col p-0">
                <div class="jumbotron">
                    <h2 class="title">Notifications</h2>
                    <p class="lead">{{userNotifications|length}}</p>
                </div>
            </li>
        </ul>
        <div class="tab-content pt-5">
            
            {{ include('components/tables/notification/default.html.twig', {
                observations: userNotifications,
                title: 'Mes dernières observations',
            }) }}
        </div>
    </div>
    </div>


{% endblock %}

