{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des observations - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}

{% block main_header %}
  <div id="main-header" class="row observation-preview">
    <ul class="nav justify-content-center w-100" id="myTab" role="tablist" >
      <li class="nav-item col">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#allObs" role="tab" aria-controls="allObs" aria-selected="true">
          <div class="jumbotron">
              <h2 class="title">Mes observations</h2>
              <p class="lead">{{posts|length}}</p>
          </div>
        </a>
      </li>
      <li class="nav-item col">
        <a class="nav-link" id="valid-tab" data-toggle="tab" href="#validObs" role="tab" aria-controls="validObs" aria-selected="false">
          <div class="jumbotron">
              <h2 class="title">En ligne</h2>
              {% set countInline = 0 %}
              {% for inline in posts if inline.status == 1 %}
                  {% set countInline = countInline + 1 %}
              {% endfor %}
              <p class="lead">{{ countInline }}</p>
          </div>
        </a>
      </li>
      <li class="nav-item col">
          <a class="nav-link" id="wait-tab" data-toggle="tab" href="#waitObs" role="tab" aria-controls="waitObs" aria-selected="false">
            <div class="jumbotron">
                <h2 class="title">En cours validation</h2>
                {% set countWait = 0 %}
                {% for wait in posts if wait.status == 0 %}
                    {% set countWait = countWait + 1 %}
                {% endfor %}
                <p class="lead">{{countWait}}</p>
            </div>
          </a>
        </li>
      <li class="nav-item col">
        <a class="nav-link" id="check-tab" data-toggle="tab" href="#checkObs" role="tab" aria-controls="checkObs" aria-selected="false">
          <div class="jumbotron">
              <h2 class="title">A valider</h2>
              <p class="lead">{{postsToCheck|length}}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block main_content %}

  <div class="tab-content" id="myTabContent">
    <!-- Toute les observation de l'utilisateur -->
    {{ include('components/tables/observation.html.twig', {
      posts: posts,
      type:  'all',
      title: 'Toutes mes observations',
      cols:  ['Lieu','Moment','Oiseau','Status']
    }) }}
    <!-- En ligne -->
    {{ include('components/tables/observation.html.twig', {
      posts: posts,
      type:  'valid',
      title: 'Mes observations en ligne',
      cols:  ['Lieu','Moment','Oiseau','Status']
    }) }}
    <!-- En cours de validation -->
    {{ include('components/tables/observation.html.twig', {
      posts: posts,
      type:  'wait',
      title: 'Mes observations en cours de validation',
      cols:  ['Lieu','Moment','Oiseau','Status']
    }) }}
    <!-- A valider -->
    {{ include('components/tables/observation.html.twig', {
      posts: postsToCheck,
      type:  'check',
      title: 'Les observations à valider',
      cols:  ['Lieu','Moment','Observateur','Mail']
    }) }}
  </div>

{% endblock %}
