{% extends 'admin/layout.html.twig' %}

{% block title %}Liste des observations - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}

{% block main_header %}
  <div id="main-header" class="row observation-preview">
    <ul class="nav justify-content-center w-100" id="myTab" role="tablist" >
      {# Commons #}
      <li class="nav-item col align-self-end">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#allObs" role="tab" aria-controls="allObs" aria-selected="true">
          <div class="jumbotron">
              <h2 class="title">Mes observations</h2>
              <p class="lead">{{userObservations|length}}</p>
          </div>
        </a>
      </li>
      <li class="nav-item col align-self-end">
        <a class="nav-link" id="valid-tab" data-toggle="tab" href="#validObs" role="tab" aria-controls="validObs" aria-selected="false">
          <div class="jumbotron">
              <h2 class="title">En ligne</h2>
              {% set countInline = 0 %}
              {% for inline in userObservations if inline.status == 1 %}
                  {% set countInline = countInline + 1 %}
              {% endfor %}
              <p class="lead">{{ countInline }}</p>
          </div>
        </a>
      </li>
      {# Only User #}
      {% for role in app.user.roles if role =="ROLE_USER" %}
        <li class="nav-item col align-self-end">
          <a class="nav-link" id="wait-tab" data-toggle="tab" href="#waitObs" role="tab" aria-controls="waitObs" aria-selected="false">
            <div class="jumbotron">
                <h2 class="title">En cours validation</h2>
                {% set countWait = 0 %}
                {% for wait in userObservations if wait.status == 0 %}
                    {% set countWait = countWait + 1 %}
                {% endfor %}
                <p class="lead">{{countWait}}</p>
            </div>
          </a>
        </li>
        <li class="nav-item col align-self-end">
          <a class="nav-link" id="noValid-tab" data-toggle="tab" href="#noValidObs" role="tab" aria-controls="noValidObs" aria-selected="false">
            <div class="jumbotron">
                <h2 class="title">Non validées</h2>
                {% set countNoValid = 0 %}
                {% for noValid in userObservations if noValid.status < -199 %}
                    {% set countNoValid = countNoValid + 1 %}
                {% endfor %}
                <p class="lead">{{countNoValid}}</p>
            </div>
          </a>
        </li>
      {% endfor %}
      {# Only Naluralist #}
      {% if is_granted('ROLE_NATURALIST') %}
      <li class="nav-item col align-self-end">
        <a class="nav-link" id="toCheck-tab" data-toggle="tab" href="#toCheckObs" role="tab" aria-controls="toCheckObs" aria-selected="false">
          <div class="jumbotron">
              <h2 class="title">Les observations à vérifier</h2>
              <p class="lead">{{observationsToCheck|length}}</p>
          </div>
        </a>
      </li>
      <li class="nav-item col align-self-end">
        <a class="nav-link" id="uncommitted-tab" data-toggle="tab" href="#uncommittedObs" role="tab" aria-controls="uncommittedObs" aria-selected="false">
          <div class="jumbotron">
              <h2 class="title">Les observations non validées</h2>
              <p class="lead">{{uncommittedObservations|length}}</p>
          </div>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block main_content %}

  <div class="tab-content" id="myTabContent">
    <!-- All Obs -->
    {{ include('components/tables/observation/default.html.twig', {
      observations: userObservations,
      id:  'all',
      title: 'Toutes mes observations',
      active: true,
    }) }}
    <!-- Valid Obs -->
    {{ include('components/tables/observation/default.html.twig', {
      observations: userObservations,
      id:  'valid',
      title: 'Mes observations en ligne',
    }) }}
    {# Only User #}
    {% for role in app.user.roles if role =="ROLE_USER" %}
      <!-- Wait Obs -->
      {{ include('components/tables/observation/default.html.twig', {
        observations: userObservations,
        id:  'wait',
        title: 'Mes observations en cours de validation',
      }) }}
      <!-- No Valid Obs -->
      {{ include('components/tables/observation/noValid.html.twig', {
        observations: userObservations,
        id:  'noValid',
        title: 'Mes observations non validées',
      }) }}
    {% endfor %}
    {# Only Naluralist #}
    {% if is_granted('ROLE_NATURALIST') %}
      <!-- Check Obs -->
      {{ include('components/tables/observation/toCheck.html.twig', {
        observations: observationsToCheck,
        id:  'toCheck',
        title: 'Les observations à vérifier',
      }) }}
      <!-- Uncommitted Obs -->
      {{ include('components/tables/observation/noValid.html.twig', {
        observations: uncommittedObservations,
        id:  'uncommitted',
        title: 'Les observations non validées'
      }) }}
    {% endif %}
  </div>

{% endblock %}
