{% extends "base.html.twig" %}

{% block title %}Test Detail - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block mainLeft %}
  <div id="main-left" class="col-lg-5 col-xl-4">
    <div class="container">
        <div class="row">
    {{ include('components/card-detail.html.twig') }}
    {% if route == "showTaxref" %}
      {{ include('components/detail_txr-description.html.twig') }}
    {% elseif route == "showObservation" %}
      {{ include('components/detail_obs-description.html.twig') }}
    {% endif %}
  </div>
</div>

  </div>
{% endblock %}

{% block mainRight %}
    <div class="col-lg-7 col-xl-8 p-0">
      <div id="map"></div>
    </div>
    {% if route == "showTaxref" %}
      {{ include('components/detail_txr-apiMap.html.twig') }}
    {% elseif route == "showObservation" %}
      {{ include('components/detail_obs-apiMap.html.twig') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('build/js/markerclusterer.js')}}"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDED89bCETmWyPqiKoncfU6-g3GkHzGY1Y&callback=initMap">
  </script>
{% endblock %}

