{% extends "base.html.twig" %}

{% block title %}Test Detail - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDED89bCETmWyPqiKoncfU6-g3GkHzGY1Y&callback=initMap">
  </script>
{% endblock %}

{% block mainLeft %}
  <div class="col-sm-5 pl-4 pr-4" >
    {{ include('components/card-detail.html.twig') }}
  </div>
  {% endblock %}


  {% block mainRight %}
    <div class="col-sm-7 p-0" >
      <!-- <img class="h-100 w-100" src="{{ asset('images/map.png') }}" alt=""> -->
      <div id="map" style="height: calc(100% + 56px);margin-top:-56px;"></div>
    </div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom:6,
          center: new google.maps.LatLng(46.86667,2.21375),
          styles:[
            {"elementType": "geometry","stylers": [{"color": "#1d1e23"}]},
            {"elementType": "labels.icon","stylers": [{"visibility": "off"}]},
            {"elementType": "labels.text.fill","stylers": [{"color": "#2e2f33"}]},
            {"elementType": "labels.text.stroke","stylers": [{"color": "#1d1e23"}]},
            {
              "featureType": "administrative",
              "elementType": "geometry","stylers": [{"color": "#757575"}]
            },
            {
              "featureType": "administrative.country",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "administrative.locality",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill","stylers": [{"color": "#757575"}]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry","stylers": [{"color": "#1f2025"}]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.stroke","stylers": [{"color": "#1b1b1b"}]
            },
            {
              "featureType": "road",
              "elementType": "geometry.fill","stylers": [{"color": "#1f2025"}]
            },
            {
              "featureType": "road",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry","stylers": [{"color": "#191a1e"}]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry","stylers": [{"color": "#2e2f33"}]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "transit",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            },
            {
              "featureType": "water",
              "elementType": "geometry","stylers": [{"color": "#23262d"}]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill","stylers": [{"color": "#333438"}]
            }
          ]
        });

        map.data.loadGeoJson("{{ path('jsonLocations',{'taxref': post.id}) }}");
        map.data.setStyle({
          icon: "{{ asset('images/marker.svg') }}",
        });

      }
    </script>
{% endblock %}

