{% extends "base.html.twig" %}

{% block title %}Test listing - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/search.js') }}"></script>
{% endblock %}


{% block mainLeft %}
  <div class="col-sm-3 d-flex" style="position:fixed;top: 56px;bottom: 0;">
    <div class="container mt-auto mb-auto">
        <h1 class="text-white display-3">Listing</h1>
        <p class="text-primary lead">Tous les oiseaux</p>
    </div>
  </div>
{% endblock %}

{% block mainRight %}
  <div class="col offset-md-4 offset-lg-3">
    <div class="container">
      <div id="resultsTaxref" class="card-columns p-3">
      </div>
      <div id="listingTaxref" class="card-columns p-3">
        {% for post in posts %}
            <div class="card card-blog">
              {% if post.picture and post.picture.url  %}
              {% set backgroundTable = '' %}
              {% set btnColor = 'btn-secondary' %}
              <div class="card-image">
                  <a href="{{ path('showTaxref', {slug: post.slug}) }}"> <img class="img" src="{{ post.picture.url }}" alt="{{ post.picture.alt }}"> </a>
              </div>
              {% else %}
                {% set backgroundTable = random(['table-info', 'table-danger','','','','','']) %}
                {% if backgroundTable == '' %}
                  {% set btnColor = 'btn-secondary' %}
                {% else %}
                  {% set btnColor = 'btn-white' %}
                {% endif %}
              {% endif %}
              <div class="table {{ backgroundTable }}">
                  <h6 class="category text-secondary">{{ post.reignType }}</h6>
                  <h4 class="card-caption">
                    <a href="{{ path('showTaxref', {slug: post.slug}) }}">{{ post.nomValideType }}</a>
                  </h4>
                  <div class="card-description">{{ post.nomVernType }}</div>
                  <div class="ftr text-center">
                    <a href="{{ path('showTaxref', {slug: post.slug}) }}" class="btn {{ btnColor }} btn-round">Détail</a>
                    {# <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-simple btn-rose" data-original-title="Saved to Wishlist"><i class="material-icons">search</i></button> #}
                  </div>
              </div>
            </div>
            {# <div class="card">
              {% if post.picture and post.picture.url  %}
                <img class="card-img-top" src="{{ post.picture.url }}" alt="{{ post.picture.alt }}">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ post.nomValideType }}</h5>
                <p class="card-text">{{ post.nomVernType }}</p>
                <a href="#" class="btn btn-secondary">Détail</a>
              </div>
            </div> #}
            {% else %}
            <div class="well">Aucun résultat</div>
          {% endfor %}
        </div>
    </div>
  </div>

  {# {% if posts.haveToPaginate %}
  <div class="navigation text-center">
      {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
  </div>
  {% endif %} #}
{% endblock %}
