{% extends "base.html.twig" %}

{% block title %}Taxref - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/search.js') }}"></script>
{% endblock %}


{% block mainLeft %}
  <div id="main-left" class="col-lg-4 col-xl-3">
      <div class="d-flex">
          <div class="container mt-auto mb-auto">
              <h1 class="text-white display-3">Taxref</h1>
              <p class="text-primary lead">Le référentiel taxonomique taxref</p>
          </div>
      </div>
  </div>
{% endblock %}

{% block mainRight %}
  <div id="main-right" class="col-lg-8 col-xl-9 mt-3">
    <div class="container">
      <div id="resultsTaxref" class="card-columns p-3"></div>
      <div id="listingTaxref" class="card-columns p-3">
        {% for post in posts %}
          {% if route == "listingTaxref" %}
            {{ include('components/card-taxref.html.twig') }}
          {% elseif route == "listingObservations" %}
            {{ include('components/card-observations.html.twig') }}
          {% endif %}
        {% else %}
          <div class="well">Aucun résultat</div>
        {% endfor %}
      </div>
    </div>
  </div>

  {# {% if posts.haveToPaginate %}
  <div class="navigation text-center">
      {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
  </div>
  {% endif %} #}
{% endblock %}
