{% extends "base.html.twig" %}

{% block title %}Test Login - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block mainLeft %}
  <div class="col-sm-3 d-flex" style="position:fixed;top: 56px;bottom: 0;">
    <div class="container mt-auto mb-auto" >
        <h1 class="text-white display-3">Login</h1>
        <p class="text-primary lead">Connectez vous</p>
    </div>
  </div>
{% endblock %}

{% block mainRight %}

  <div class="col col-md-6 offset-md-4 offset-lg-5 login-form">

      {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
      {% endif %}
      <form  action="{{ path('login_check') }}" method="post">
        <div class="form-group">
          <label for="username">Utilisateur :</label>
          <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
          <br/>
          <label for="password">Mot de passe :</label>
          <input class="form-control" type="password" id="password" name="_password" />
          <br />
          <input type="submit" value="Connexion" />
        </div>
      </form>
      <p>
        <a href="{{ path('lostPassword') }}">Mot de passe perdu ?</a><br/>
        <a href="{{ path('signUp') }}">Inscription</a>
      </p>
  </div>
{% endblock %}
