{% extends "base.html.twig" %}

{% block title %}Test Observer - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
{{parent()}}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDED89bCETmWyPqiKoncfU6-g3GkHzGY1Y&callback=initMap">
</script>
{% endblock %}

{% block mainLeft %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div  class="col-lg-5 col-xl-4">
        <div class="d-flex flex-column">
            <div class="container mt-auto mb-auto">
                <h1 class="text-white display-3">Nouvelle observation</h1>
                <p class="text-primary lead">{{ step.title }}</p>
                {{ app.session.get('observation').location.gpsY }}
            </div>
            <div class="login-form">
                <div class="form">
                    {{ include('test/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainRight %}
    <div class="col-lg-7 col-xl-8 p-0">
      <!-- <img class="h-100 w-100" src="{{ asset('images/map.png') }}" alt=""> -->
      <div id="map"></div>
    </div>
    {{ include('components/observe_steps-apiMap.html.twig') }}
{% endblock %}
