{% extends "base.html.twig" %}

{% block title %}Test Observer - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block mainLeft %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div  class="col-lg-5 col-xl-4">
        <div class="d-flex flex-column">
            <div class="container mt-auto mb-auto">
                <h1 class="text-white display-3">Nouvelle observation</h1>
                <p class="text-primary lead">étape 1 - Le lieu</p>
            </div>
            <div class="login-form">
                <div class="form">
                    {{ include('test/form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainRight %}
    <div class="col-lg-7 col-xl-8 p-0">
      <img class="h-100 w-100" src="{{ asset('images/map.png') }}" alt="">
      <!-- <div id="map"></div> -->
    </div>
    {% if route == "showTaxref" %}
      {{ include('components/detail_txr-apiMap.html.twig') }}
    {% elseif route == "showObservation" %}
      {{ include('components/detail_obs-apiMap.html.twig') }}
    {% endif %}
{% endblock %}

