

{% extends "base.html.twig" %}

{% block title %}Test Login - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block mainLeft %}
<div class="col-sm-3 d-flex" style="position:fixed;top: 56px;bottom: 0;">    
	<div class="container mt-auto mb-auto">
    	<h1 class="text-white display-3">{{message[0]}}</h1>
    	<p class="text-primary lead">{{message[1]}}</p>
	</div>
</div>
{% endblock %}

{% block mainRight %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
  	<div class="col col-md-6 offset-md-4 offset-lg-5">
    	<div class="login-form">
        	<div class="form">
        		{{ form_start(form) }} 
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary">S'inscrire</button>
				{{ form_end(form) }}
    		</div>
  		</div>
	</div>
 
{% endblock %}
