<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
        svg.logo {
            fill:#fff;
            color:#fff;
        }
    </style>
    {%set route = app.request.attributes.get('_route') %}
    <body id="{% block body_id %}{% endblock %}">
        {{ include('partials/horizontalNav.html.twig') }}
        <div class="container-fluid">
            <div class="row">
                {{ include('partials/verticalNav.html.twig') }}
                <main id="{% block main_id %}{% endblock %}" role="main" class="main">
                    <div class="container-fluid">
                        {% block body %}
                            <div class="row main-row">
                                {% block mainLeft %}{% endblock %}
                                {% block mainRight %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/js/manifest.js')}}"></script>
            <script src="{{ asset('build/js/common.js')}}"></script>
            <script src="{{ asset('lib/moment/moment.min.js')}}"></script>
            <script src="{{ asset('lib/moment/locales.min.js')}}"></script>
            <script type="text/javascript">var symfoUrlRoute= "{{ url('seen_update')}}"</script>
            <script src="{{ asset('build/js/app.js')}}"></script>
            <script type="text/javascript">
                function onSignIn(googleUser)
                {
                    var profile = googleUser.getBasicProfile();
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }

            </script>


        {% block java_per_pages %}{% endblock %}


        {% endblock %}
    </body>
</html>
