<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
    </head>
    <style>
        svg.logo {
            fill:#fff;
            color:#fff;
        }
    </style>
    <body>
        {%set route = app.request.attributes.get('_route') %}
        {{ include('partials/horizontalNav.html.twig') }}
        <div class="container-fluid">
            <div class="row">
                {{ include('partials/verticalNav.html.twig') }}
                <main id="{{route}}" role="main" class="main">
                    <div class="container-fluid">
                        <div class="row main-row">
                            {% block mainLeft %}{% endblock %}
                            {% block mainRight %}{% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% block javascripts %}
        <script src="{{ asset('build/js/manifest.js')}}"></script>
        <script src="{{ asset('build/js/common.js')}}"></script>
        <script src="{{ asset('build/js/app.js')}}"></script>
        <script type="text/javascript">
        function onSignIn(googleUser) 
        {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
        </script>
        {% endblock %}
    </body>
</html>
