<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
    </head>
    <style>
        svg.logo {
            fill:#fff;
            color:#fff;
        }
    </style>
    <body>
        {%set route = app.request.attributes.get('_route') %}
        {{ include('partials/horizontalNav.html.twig') }}
        <div class="container-fluid">
            <div class="row">
                {{ include('partials/verticalNav.html.twig') }}
                <main role="main" class="main">
                    <div class="container-fluid">
                        <div class="row" style="min-height:calc(100vh - 56px);">
                            {% block mainLeft %}{% endblock %}
                            {% block mainRight %}{% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% block javascripts %}
        <script src="{{ asset('build/js/manifest.js')}}"></script>
        <script src="{{ asset('build/js/common.js')}}"></script>
        <script src="{{ asset('build/js/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
