<!DOCTYPE html>
<html>
    <head>
        {{ include('components/apiAnalytics/gSiteTag.html.twig') }}
        {{ include('components/apiAnalytics/gTagManagerHead.html.twig') }}
        {{ include('components/apiAnalytics/fPixelCode.html.twig') }}
        <meta charset="UTF-8">
        <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/images/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        {# Css #}
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    {%set route = app.request.attributes.get('_route') %}
    <body id="{% block body_id %}{% endblock %}">
        {{ include('components/apiAnalytics/gTagManagerBody.html.twig') }}
        {{ include('partials/horizontalNav.html.twig') }}
        <div id="resultsTaxref"></div>
        {{ include('partials/verticalNav.html.twig') }}
        <main id="{% block main_id %}{% endblock %}" role="main" class="main">
            <div class="container-fluid">
                {% block body %}
                    {{ include('default/_flash_messages.html.twig') }}
                    <div class="row main-row">
                        {% block mainLeft %}{% endblock %}
                        {% block mainRight %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        {{ include('partials/footer.html.twig') }}
        </main>
        {{ include('components/buttons/addObs.html.twig') }}
        {% block javascripts %}
            <script src="{{ asset('build/js/manifest.js')}}"></script>
            <script src="{{ asset('build/js/common.js')}}"></script>
            <script type="text/javascript">
            var symfoUrlRoute= "{{ url('seen_update')}}";
            var cookiesAccepted ="{{ url('cookie_accept')}}";
            </script>
            <script src="{{ asset('build/js/app.js')}}"></script>
            <script type="text/javascript">
                function onSignIn(googleUser)
                {
                    var profile = googleUser.getBasicProfile();
                    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                    console.log('Name: ' + profile.getName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
                }

            </script>


        {% block java_per_pages %}{% endblock %}


        {% endblock %}
    </body>
</html>
