<div class="card card-detail">
    {% if post.picture and post.picture.url  %}
      <div class="card-image">
        <a href="#"> <img class="img" src="{{ post.picture.url }}" alt="{{ post.picture.alt }}"></a>
      </div>
    {% endif %}
      <div class="table d-flex">
          <h6 class="category text-rose">{{ post.nomVernType }}</h6>
          <div class="d-inline-flex justify-content-between">
            <p class="card-description">
              {{ post.lbNomType }}<br>
              {{ post.lbAuteurType }}
            </p>
            <div class="ftr">
              <a href="#" class="btn btn-just-icon btn-link"><i class="material-icons">link</i></a>
            </div>
          </div>
        </div>
  </div>
  <hr>